# requirements.txt — install once
tensorflow
numpy
pandas
scikit-learn
matplotlib
seaborn
opencv-python
Pillow
requests
kaggle
flask
twilio
xgboost
joblib

#then run pip install -r requirements.txt  in terminal